<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground — Complete Intro to Vue 3</title>
  </head>
  <body>
    <div id="app">
      <h1>
        <span v-if="message.length % 2 == 0">Even</span>
        <span v-else>Odd</span>
        {{ message }}
      </h1>

      <div>
        <label for="newCharacter"> Enter new Character </label>
        <input
          type="text"
          id="newCharacter"
          v-model.text="newCharacter"
          @keyup.enter="addCharacter"
        />
      </div>

      <p v-if="characters.length == 0">There are no characters</p>

      <ul v-else>
        <li v-for="character in characters" :key="character">
          <p>{{ character.name }}</p>
          <button @Click="addFavCHaracter(character)">Add to Favorites</button>
        </li>
      </ul>

      <h1>Favorite Characters</h1>
      <h2>Stats</h2>
      <ul>
        <li v-for="(value, key) in characterStats" :key="key">
          {{ key }} : {{value}}
        </li>
      </ul>

      <p v-if="favCharacters.length == 0">You have no Favorite characters</p>

      <ul v-else>
        <li v-for="favChar in favCharacters" :key="Math.random()">
          <p>{{ favChar.name }}</p>
          <button @Click="removeFavCharacter(favChar)">
            Remove from Favorites
          </button>
        </li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
      Vue.createApp({
        data: () => ({
          message: 'Hello Vue! i am here',
          characters: [
            {
              name: 'Michael Scofield',
              character: 'intelligent',
            },
            {
              name: 'Lincoln Burrows',
              character: 'cunning',
            },
            {
              name: 'Sara Tancredi',
              character: 'loyal',
            },
            {
              name: 'LJ Burrows',
              character: 'cunning',
            },
          ],
          newCharacter: '',
          favCharacters: [],
        }),

        computed: {
          characterStats() {
            const total = this.favCharacters.length;

            const intelligent = this.favCharacters.filter(
              (c) => c.character === 'intelligent'
            ).length;
            const cunning = this.favCharacters.filter(
              (c) => c.character === 'cunning'
            ).length;
            const loyal = this.favCharacters.filter(
              (c) => c.character === 'loyal'
            ).length;

            function round(number) {
              if (isNaN(number)) {
                return 0;
              }
              return Math.round(number * 100) / 100;
            }

            const stats = {
              intelligent: `${round((intelligent / total) * 100)}%`,
              cunning: `${round((cunning / total) * 100)}%`,
              loyal: `${round((loyal / total) * 100)}%`,
            };

            return stats;
          },
        },

        methods: {
          addFavCHaracter(character) {
            this.favCharacters.push(character);
          },

          removeFavCharacter(character) {
            this.favCharacters = this.favCharacters.filter(
              (c) => c.name != character.name
            );
          },

          addCharacter(event) {
            this.characters.push({
              name: this.newCharacter,
            });
            this.newCharacter = '';
          },
        },
      }).mount('#app');
    </script>
  </body>
</html>
